.menu {
	margin:  0 0 2rem 0;
	span {
	margin: 0 0.5rem;
	cursor: pointer;
	}
	.selected {
		font-weight: 700;
	}
}
.user {
	display: flex;
	align-items: center;
	margin: 0 0 2rem 0;
	img {
		border-radius: 50%;
		width: 4rem;
		height: 4rem;
	}
	button {	
		margin: 0 2rem 0 2rem;
	}
	.userInfo {
		display: flex;
		align-items: center;
	}
	.name {
		margin: 0 2rem 0 0;
	}
}