.header {
	grid-area: h;
	background-color: #794f45;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	img {
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
	}
	.link {
		color: #ffffff;
	}
}