.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: #edeef0;
	height: 100vh;
	.page {
		display: flex;
		width: 80%;
		height: 100%;
		margin: 0 auto;
		.content {
			background-color: #fff;	
			width: 65%;
			padding: 2rem;
		}
	}
}
